<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="utf-8"/>
    <meta name="hydro-config"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - hydrodemo2</title>
    
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <script defer src="~/hydro/alpine.js" asp-append-version="true"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    @* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
</head>
<body class="bg-accent-content/25">

@RenderBody()

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>