@page "/home"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Hydro.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<div class="bg-gray-200">

    <hydro name="Todos"/>
    <hydro name="Counter"/>

</div>