<!-- NameForm.cshtml -->
@model NameForm

<div>
    <input asp-for="FirstName" hydro-bind/>
    <input asp-for="LastName" hydro-bind/>
    <span>Full name: @Model.FirstName @Model.LastName</span>

    <ul>
        @foreach (var msg in @Model.Calibers)
        {
            <li>@msg</li>
        }
    </ul>
</div>